In [1]:
import sqlite3 as sq

In [2]:
con=sq.connect('student.db')

In [3]:
cur=con.cursor()

In [4]:
table1="Create table if not exists stud(sid int primary key,sname text NOT NULL)"

In [5]:
cur.execute(table1)

In [6]:
table2="Create table if not exists stud_details(sid references stud(sid),city text NOT NULL,mobno int)"

In [7]:
cur.execute(table2)

In [8]:
con.commit()

In [9]:
insert1="insert into stud values(101,'OM'),(102,'SAI'),(103,'RAM'),(104,'RADHA'),(105,'KRISHNA'),(106,'SHIV'),(107,'VIVEK'),(108,'KAILASH'),(109,'KIRTAN'),(110,'DEV')"

In [10]:
cur.execute(insert1)

In [11]:
insert2="insert into stud_details values(101,'Surat',9876554651),(102,'Bardoli',9876764321),(103,'Baben',9347754121),(104,'Mumbai',8764450921),(105,'Vadodara',9123552341),(106,'Surat',9876556321),(107,'Bardoli',76543090921),(108,'Mumbai',7654321098),(109,'surat',9012308080),(110,'Bardoli',6543202376)"

In [12]:
cur.execute(insert2)

In [13]:
con.commit()

In [14]:
sel1="select * from stud_details where city='Surat' "

In [15]:
cur.execute(sel1)

In [16]:
cur.fetchall()

[(101, 'Surat', 9876554651), (106, 'Surat', 9876556321)]

In [17]:
con.commit()

In [18]:
sel2="select * from stud_details where city LIKE 'B%' "

In [19]:
cur.execute(sel2)

In [20]:
cur.fetchall()

[(102, 'Bardoli', 9876764321),
 (103, 'Baben', 9347754121),
 (107, 'Bardoli', 76543090921),
 (110, 'Bardoli', 6543202376)]

In [21]:
con.commit()

In [22]:
upd="update stud_details set mobno=9090808070 where city='Surat' and sid=101 "

In [23]:
cur.execute(upd)

In [24]:
con.commit()

In [25]:
con.close()