In [1]:
import sqlite3 as sq

-> making connection with database using connect()

In [2]:
con = sq.connect('EMS.db')

->making cursor on con object

In [3]:
cur = con.cursor()

-> query-1 create table query and execute it using execute()

In [4]:
query='''create table if not exists employee 
        (eid int primary key,
         ename text,
         dept text,
         basic int,
         branch text)'''
cur.execute(query)
con.commit()

->Query-2 function to insert 5 record in table

In [5]:
def insertemp(n):
    l=[]
    query=f"insert into Employee values(?,?,?,?,?)"
       
    for i in range(n):
        eid=int(input("Enter Employee id:"))
        ename=input("Enter Employee name ")
        dept=input("Enter Employee department:")
        basic=int(input("Enter Employee basic salary:"))
        branch=input("Enter Employee branch:")
        t=(eid,ename,dept,basic,branch)
        l.append(t)
    cur.executemany(query,l)
    con.commit()

-> Query-3 update record of employee who are from surat increment 10% in basic

In [6]:
def updatesal():
    query=f"update Employee set basic=basic+basic*0.1 where branch='surat'"
    cur.execute(query)
    con.commit()

->Query-4 print all record

In [7]:
def displayrecord():
    query=f"select * from Employee"
    cur.execute(query)
    data=cur.fetchall()
    for i in data:
        print("Employee id:{}\nEmployee name:{}\nEmployee department:{}\nEmployee Basic:{}\nEmployee branch:{}".format(i[0],i[1],i[2],i[3],i[4]))

->Query-5 print record whose department is 'hr' or 'it'

In [8]:
def deptrecord():
    query=f"select * from Employee where dept in ('hr','it','HR','IT')"
    cur.execute(query)
    data=cur.fetchall()
    for i in data:
        print("Employee id:{}\nEmployee name:{}\nEmployee department:{}\nEmployee Basic:{}\nEmployee branch:{}".format(i[0],i[1],i[2],i[3],i[4]))

-> Query-6 record in sorting order of department

In [10]:
def recordbasicgreaterthan():
    query=f"select * from Employee where basic>6000"
    cur.execute(query)
    data=cur.fetchall()
    for i in data:
        print("Employee id:{}\nEmployee name:{}\nEmployee department:{}\nEmployee Basic:{}\nEmployee branch:{}".format(i[0],i[1],i[2],i[3],i[4]))

-> Query-8 records where employee's name second character is 'r'

In [11]:
def sortrecorddept():
    query=f"select * from Employee where ename like '_r%'"
    cur.execute(query)
    data=cur.fetchall()
    for i in data:
        print("Employee id:{}\nEmployee name:{}\nEmployee department:{}\nEmployee Basic:{}\nEmployee branch:{}".format(i[0],i[1],i[2],i[3],i[4]))

-> Query-9 grouping record of employee who are from "account" and "inventory"

In [12]:
def groupingrecord():
    query=f"select dept,count(*) as count  from Employee where dept in ('account','inventory')"
    cur.execute(query)
    data=cur.fetchall()
    for i in data:
        print("\nEmployee department:{}\ncount :{}".format(i[0],i[1]))

-> Query-10 print record based on branch name in descending order.

In [13]:
def orderbydesc():
    query=f"select * from Employee order by branch desc"
    cur.execute(query)
    data=cur.fetchall()
    for i in data:
        print("Employee id:{}\nEmployee name:{}\nEmployee department:{}\nEmployee Basic:{}\nEmployee branch:{}".format(i[0],i[1],i[2],i[3],i[4]))

-> call all function

In [14]:
insertemp(5)

Enter Employee id:1
Enter Employee name OM
Enter Employee department:HR
Enter Employee basic salary:15000
Enter Employee branch:BARDOLI
Enter Employee id:2
Enter Employee name SAI
Enter Employee department:ACCOUNT
Enter Employee basic salary:25000
Enter Employee branch:AHEMDABAD
Enter Employee id:3
Enter Employee name RAM
Enter Employee department:INVENTORY
Enter Employee basic salary:5000
Enter Employee branch:BARODA
Enter Employee id:4
Enter Employee name KISHAN
Enter Employee department:IT
Enter Employee basic salary:30000
Enter Employee branch:MANDAVI
Enter Employee id:5
Enter Employee name RADHA
Enter Employee department:HR
Enter Employee basic salary:20000
Enter Employee branch:AHAWA

In [15]:
updatesal()

In [16]:
displayrecord()

Employee id:1
Employee name:OM
Employee department:HR
Employee Basic:15000
Employee branch:BARDOLI
Employee id:2
Employee name:SAI
Employee department:ACCOUNT
Employee Basic:25000
Employee branch:AHEMDABAD
Employee id:3
Employee name:RAM
Employee department:INVENTORY
Employee Basic:5000
Employee branch:BARODA
Employee id:4
Employee name:KISHAN
Employee department:IT
Employee Basic:30000
Employee branch:MANDAVI
Employee id:5
Employee name:RADHA
Employee department:HR
Employee Basic:20000
Employee branch:AHAWA

In [17]:
sortrecorddept()

In [18]:
recordbasicgreaterthan()

Employee id:1
Employee name:OM
Employee department:HR
Employee Basic:15000
Employee branch:BARDOLI
Employee id:2
Employee name:SAI
Employee department:ACCOUNT
Employee Basic:25000
Employee branch:AHEMDABAD
Employee id:4
Employee name:KISHAN
Employee department:IT
Employee Basic:30000
Employee branch:MANDAVI
Employee id:5
Employee name:RADHA
Employee department:HR
Employee Basic:20000
Employee branch:AHAWA

In [19]:
sortrecorddept()

In [20]:
groupingrecord()

Employee department:None
count :0

In [21]:
orderbydesc()

Employee id:4
Employee name:KISHAN
Employee department:IT
Employee Basic:30000
Employee branch:MANDAVI
Employee id:3
Employee name:RAM
Employee department:INVENTORY
Employee Basic:5000
Employee branch:BARODA
Employee id:1
Employee name:OM
Employee department:HR
Employee Basic:15000
Employee branch:BARDOLI
Employee id:2
Employee name:SAI
Employee department:ACCOUNT
Employee Basic:25000
Employee branch:AHEMDABAD
Employee id:5
Employee name:RADHA
Employee department:HR
Employee Basic:20000
Employee branch:AHAWA

In [22]:
con.commit()

-> close the connection with database

In [23]:
con.close()